.countainer {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: linear-gradient(to right, rgb(185, 0, 0), rgb(160, 80, 80));
}

#play {
  position: absolute;
  top: 280px;
  left: 170px;
}

.pageLogin {
  position: absolute;
  top: 270px;
  right: 180px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 5px;
  height: 25px;
  width: 40px;

}

#inputlupa {
  position: absolute;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 15px;
  text-align: center;
  top: 16px;
  left: 40%;
}

.produto1 {
  position: relative;
  left: 2%;
  top: 10%;
  background-image: linear-gradient(to right, rgb(243, 6, 6), rgb(255, 41, 41));
  width: 300px;
  height: 370px;
  border-radius: 20px;
}

.produto2 {
  position: relative;
  left: 20%;
  bottom: 29%;
  background-image: linear-gradient(to right, rgb(243, 6, 6), rgb(255, 41, 41));
  width: 300px;
  height: 370px;
  border-radius: 20px;
}

.produto3 {
  position: relative;
  left: 20%;
  bottom: 26%;
  background-image: linear-gradient(to right, rgb(243, 6, 6), rgb(255, 52, 52));
  width: 300px;
  height: 370px;
  border-radius: 20px;
}

.produto4 {
  position: relative;
  left: 2%;
  bottom: 65%;
  background-image: linear-gradient(to right, rgb(243, 6, 6), rgb(255, 52, 52));
  width: 300px;
  height: 370px;
  border-radius: 20px;
}

#image {
  top: 20px;
  position: relative;
  border-radius: 20px;
  border-color: rgb(0, 0, 0);
  left: 24%;
  height: 150px;
  width: 150px;
}

.contador {
  position: relative;
  bottom: 7%;
  border-radius: 15px;
  text-align: center;
}

.comprar {
  position: relative;
  bottom: 50px;
  text-align: center;
}

#Bc {
  border-radius: 10px;
}

.carrinho {
  position: absolute;
  text-align: center;
  bottom: 730px;
  left: 1600px;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgb(184, 50, 50), rgb(255, 41, 41));
  width: 300px;
  height: 200px;
}

.numeroC {

  position: relative;
  width: 10px;
  left: 246px;
  bottom: 45px;
  font-size: 20px;
}

.pageCarrinho {
  position: relative;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.produto1C {
  position: relative;
  left: 2%;
  top: 10%;
  background-image: linear-gradient(to right, rgb(243, 6, 6), rgb(255, 41, 41));
  width: 300px;
  height: 370px;
  border-radius: 20px;
}

.produto2C {position: relative;
  left: 20%;
  bottom: 29%;
  background-image: linear-gradient(to right, rgb(243, 6, 6), rgb(255, 41, 41));
  width: 300px;
  height: 370px;
  border-radius: 20px;}

.produto3C {position: relative;
  left: 38%;
  bottom: 68%;
  background-image: linear-gradient(to right, rgb(243, 6, 6), rgb(255, 41, 41));
  width: 300px;
  height: 370px;
  border-radius: 20px;}

.produto4C {position: relative;
  left: 56%;
  bottom: 106%;
  background-image: linear-gradient(to right, rgb(243, 6, 6), rgb(255, 41, 41));
  width: 300px;
  height: 370px;
  border-radius: 20px;}

  .comprar2 {
    text-align: center;
  }